.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #EEEE;
}

.footer-menu {
  display: flex;
}
.footer-menu a {
  padding: 10px;
}
.footer-social {
  display: flex;
}
.footer-social a {
  padding: 5px;
}

@media screen and (min-width: 768px) {
    @media screen { 
        .footer-menu{
            display: flex;
        }
    }
}
    

